table{
    width: 400px;
}
.title{
    background-color: gray;
    height: 50px;
    font-weight: bold;
}
.sub{
    height: 35px;
    background-color: whitesmoke;
}
.Q{
    display: flex;
    justify-content: flex-end;
    margin-top: 7px;
    margin-bottom: 7px;
}